/bin/
/vendor/
go.sum
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
.DS_Store
.env
config.local.*
*.env
*.log
*.tmp
*.out
*.exe
*.test
__debug_bin
docker-compose.override.yml
/data/
/kafka-data/
/scripts/*.log
/web/node_modules/
